In [4]:
import pandas as pd
import numpy as np

In [5]:
train=pd.read_csv("military_expenditure.csv")

In [6]:
train

,country,iso3c,iso2c,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP),adminregion,incomeLevel
0,Afghanistan,AFG,AF,1970,2.939586e+06,NaN,1.629606,South Asia,Low income
1,Afghanistan,AFG,AF,1971,NaN,NaN,NaN,South Asia,Low income
2,Afghanistan,AFG,AF,1972,NaN,NaN,NaN,South Asia,Low income
3,Afghanistan,AFG,AF,1973,3.341272e+06,NaN,1.868910,South Asia,Low income
4,Afghanistan,AFG,AF,1974,3.581366e+06,NaN,1.610825,South Asia,Low income
...,...,...,...,...,...,...,...,...,...
13561,Zimbabwe,ZWE,ZW,2016,3.580650e+08,7.363048,1.742494,Sub-Saharan Africa (excluding high income),Lower middle income
13562,Zimbabwe,ZWE,ZW,2017,3.405220e+08,5.519890,1.544948,Sub-Saharan Africa (excluding high income),Lower middle income
13563,Zimbabwe,ZWE,ZW,2018,4.203640e+08,5.607096,1.222795,Sub-Saharan Africa (excluding high income),Lower middle income
13564,Zimbabwe,ZWE,ZW,2019,5.469390e+08,2.099816,0.698601,Sub-Saharan Africa (excluding high income),Lower middle income
13565,Zimbabwe,ZWE,ZW,2020,NaN,NaN,NaN,Sub-Saharan Africa (excluding high income),Lower middle income

In [7]:
train.var()

C:\Users\l\AppData\Local\Temp\ipykernel_9768\3617257294.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train.var()

year                                                          2.166826e+02
Military expenditure (current USD)                            2.023754e+22
Military expenditure (% of general government expenditure)    3.658965e+01
Military expenditure (% of GDP)                               8.537318e+00
dtype: float64

In [8]:
train.corr()

,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP)
year,1.000000,0.143134,-0.191886,-0.236705
Military expenditure (current USD),0.143134,1.000000,-0.027606,0.002617
Military expenditure (% of general government expenditure),-0.191886,-0.027606,1.000000,0.675038
Military expenditure (% of GDP),-0.236705,0.002617,0.675038,1.000000

In [9]:
train[feat_cols]

NameError: name 'feat_cols' is not defined

In [12]:
from glob import glob
import cv2